div.wpcf7 {
	margin: 0;
	padding: 0;
}

div.wpcf7 .screen-reader-response {
	position: absolute;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	width: 1px;
	margin: 0;
	padding: 0;
	border: 0;
}

div.wpcf7-response-output {
	margin: 2em 0.5em 1em;
	padding: 0.2em 1em;
	border: 2px solid #ff0000;
}

div.wpcf7-mail-sent-ok {
	border: 2px solid #398f14;
}

div.wpcf7-mail-sent-ng,
div.wpcf7-aborted {
	border: 2px solid #ff0000;
}

div.wpcf7-spam-blocked {
	border: 2px solid #ffa500;
}

div.wpcf7-validation-errors,
div.wpcf7-acceptance-missing {
	border: 2px solid #f7e700;
}

.wpcf7-form-control-wrap {
	position: relative;
}

span.wpcf7-not-valid-tip {
	color: #f00;
	font-size: 1em;
	font-weight: normal;
	display: block;
}

.use-floating-validation-tip span.wpcf7-not-valid-tip {
	position: absolute;
	top: 20%;
	left: 20%;
	z-index: 100;
	border: 1px solid #ff0000;
	background: #fff;
	padding: .2em .8em;
}

span.wpcf7-list-item {
	display: inline-block;
	margin: 0 0 0 1em;
}

span.wpcf7-list-item-label::before,
span.wpcf7-list-item-label::after {
	content: " ";
}

.wpcf7-display-none {
	display: none;
}

div.wpcf7 .ajax-loader {
	visibility: hidden;
	display: inline-block;
	background-image: url(/wp-content/plugins/contact-form-7/includes/css/../../images/ajax-loader.gif);
	width: 16px;
	height: 16px;
	border: none;
	padding: 0;
	margin: 0 0 0 4px;
	vertical-align: middle;
}

div.wpcf7 .ajax-loader.is-active {
	visibility: visible;
}

div.wpcf7 div.ajax-error {
	display: none;
}

div.wpcf7 .placeheld {
	color: #888;
}

div.wpcf7 .wpcf7-recaptcha iframe {
	margin-bottom: 0;
}

div.wpcf7 input[type="file"] {
	cursor: pointer;
}

div.wpcf7 input[type="file"]:disabled {
	cursor: default;
}

div.wpcf7 .wpcf7-submit:disabled {
	cursor: not-allowed;
}

/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

/******************************************
* Instagram Feed Carousel
* Author: Ryan Mahabir
* Date: 2017-20-11
* Icon: Google - https://www.flaticon.com/authors/google
* Icon: Dave Gandy - https://www.flaticon.com/authors/dave-gandy
* Icon: Smashicons - https://www.flaticon.com/authors/smashicons
* Icon: Dave Gandy - https://www.flaticon.com/authors/dave-gandy
******************************************/


/******************************************
* Error check
******************************************/
.alert_error {
	text-transform: uppercase;
	text-align: center;
	color: red;
	font-weight: bold;
}


/******************************************
* Slider arrows
******************************************/
.slick-arrow {
	color: #ffffff;
	opacity: 1 !important;
	border-color: #ffffff;
    background: #000000 !important;
}
.slick-arrow::before {
	color: #ffffff;
}


/******************************************
* CSS styles - Admin Page
******************************************/
.header-admin {

}
.header-admin h2 {
	display: inline-block;
}
.header-admin .icon {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin: 10px;
    	float: left;
	background-image: url(/wp-content/plugins/instagram-carousel-feed/css/../css/images/menu-icon.svg);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}


/******************************************
* CSS styles - Instagram follow
******************************************/
.instagram-follow {
	display: table;
	position: relative;
    margin: 4em auto 4em auto;
}
.instagram-follow h3 {
	font-size: 24px;
	line-height: 24px;
	text-align: center;
	text-transform: uppercase;
	margin: 0;
}
.instagram-follow a:hover {
	transition: all 0.25s ease;
}

.instagram-follow a:hover {
	opacity: 0.85;
}

.instagram-follow:before {
    left: -75px;
}

.instagram-follow:before, .instagram-follow:after {
    /*content: "";
    position: absolute;
    width: 60px;
    height: 2px;
    background: #222;
    top: 50%;*/
}

.instagram-follow:after {
    /*right: -75px;*/
}

/******************************************
* CSS styles - Carousel
******************************************/
#instagram-feed {
	margin-bottom: auto auto 4em auto;
}

.instagram-post {
	position: relative;
	cursor: pointer;
}
.instagram-post:hover .instagram-media {
	transition: all 0.25s ease;
	/*-webkit-filter: blur(5px);
	filter: blur(5px);*/
}
.instagram-video {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 25px;
	height: 25px;

	background-image: url(/wp-content/plugins/instagram-carousel-feed/css/./images/video-camera.svg);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	opacity: 0.6;
}
.instagram-user-link {
}
.instagram-media {
	width: 100%;
	height: 100%;
	min-width: 280px;
	max-width: 280px;
	min-height: 280px;
    max-height: 280px;
}



/******************************************
* CSS styles - Carousel overlay
******************************************/
.instagram-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
	/*background-color: rgba(255, 255, 255, 0.7);*/
	opacity: 0;
}
.instagram-overlay:hover {
	transition: all 0.5s ease;
	opacity: 1;
}
.instagram-info {
	position: absolute;
	top: 10%;
    left: 10%;
	width: 80%;
	height: 80%;

	font-family: 'Helvetica', Arial, sans-serif;
	font-weight: normal;
	font-size: 1em;
	text-align: center;
	color: #fff;
	
}
.instagram-caption {
	font-style: italic;	
}
.instagram-comments-icon {
	display: inline-block;
	width: 20px;
	height: 16px;
	margin: 5px;
	float: left;

	background-image: url(/wp-content/plugins/instagram-carousel-feed/css/./images/comments.svg);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
    
}
.instagram-comments {
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 0;

	font-family: 'Helvetica', Arial, sans-serif;
	font-weight: bold;
	font-size: 0.8em;
	text-align: center;
	color: #fff;
	line-height: 25px;	
}
.instagram-likes-icon {
	display: inline-block;
	width: 20px;
	height: 15px;
	margin: 5px;
	float: left;

	background-image: url(/wp-content/plugins/instagram-carousel-feed/css/./images/like.svg);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
.instagram-likes {
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 0;
	
	font-family: 'Helvetica', Arial, sans-serif;
	font-weight: bold;
	font-size: 0.8em;
	text-align: center;
	color: #fff;
	line-height: 25px;
}



/****************************************/
/* iPad - Landscape
/****************************************/
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : landscape) {
	.instagram-media {
		width: 100%;
		height: 100%;
		min-height: 171px;
		max-height: 171px;
		min-width: 171px;
		max-width: 171px;
	}
}




/****************************************/
/* iPad - Portrait
/****************************************/
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait) {
	.instagram-media {
		width: 100%;
		height: 100%;
		min-height: 192px;
		max-height: 192px;
		min-width: 192px;
		max-width: 192px;
	}
}


/****************************************/
/* Mobile - Landscape
/****************************************/
@media only screen and (min-width : 375px) and (max-width : 736px) and (orientation : landscape) { 
	.instagram-caption {
		white-space: nowrap;
	  	overflow: hidden;
	  	text-overflow: ellipsis;
	}

	.instagram-media {
		width: 100%;
		height: 100%;
		min-height: 184px;
		max-height: 184px;
		min-width: 184px;
		max-width: 184px;
	}

}

/****************************************/
/* Mobile - Portrait
/****************************************/
@media only screen and (min-width : 300px) and (max-width : 736px) and (orientation : portrait) {

	.instagram-video {
		top: 15px;
		left: 20px;
	}

	.instagram-media {
		width: 100%;
		height: 100%;
		min-height: 414px;
		max-height: 414px;
		min-width: 414px;
		max-width: 414px;
	}
}






/******************************************
* Ticket List Display
* Author: Ryan Mahabir
* Date: 2018-28-01
******************************************/




/******************************************
* CSS styles - Admin Page
******************************************/
.header-admin {}

.header-admin h2 {
	display: inline-block;
}
.header-admin .icon {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin: 10px;
    float: left;
	background-image: url(/wp-content/plugins/ticket-list-display/css/../css/images/menu-icon.svg);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}


#acf_after_title-sortables.inactive {
	display: none;
}

#instructions {
	padding: 20px;
}

#instructions h3 {
	text-transform: uppercase;
}

#instructions p {
	font-weight: normal;
}

#instructions p strong {
	color: rgb(255, 123, 0);
}

#instructions ul {
	padding: 10px;
    background-color: aliceblue;
    margin: 20px 0;
}

#instructions li {
	font-weight: normal;
}

#instructions li p strong {
	color:#333;
	text-transform: uppercase;
}

#instructions li p {
	color:rgb(90, 173, 240);
}


#instructions-figures {
	padding: 20px; 
	vertical-align: top;
}

#instructions-figures h4,
#instructions-figures p {
	display: inline-block;
}

#instructions-figures h4 {
	color: rgb(255, 123, 0);
}

#instructions-figures img {
	width: 100%;
}



/******************************************
* CSS styles - Header
******************************************/


/******************************************
* CSS styles - Table List
******************************************/
#event-ticket-display {
	list-style: none;
	margin: 35px 0;
}

#event-ticket-display li {
	border-bottom: 1px solid #000;
	padding: 20px 0;
}

#event-ticket-display li:last-child {
	border-bottom: none;
}

#event-ticket-display li div {
	vertical-align: middle;
}

.event-date-container {
	width: 10%;
	display: inline-block;
}

.event-date-container .event-month,
.event-date-container .event-date,
.event-date-container .event-year {
	color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
	text-align: center;
	margin: 0;
}

.event-date-container .event-month {
	font-size: 21px;
	line-height: 21px;
}
.event-date-container .event-date {
	font-size: 36px;
}
.event-date-container .event-year {
	font-size: 21px;
}

.event-information {
	width: 60%;
	display: inline-block;
	font-weight: 600;
	text-align: left;
	vertical-align: top !important;
}
.event-location {
	font-size: 21px;
	line-height: 21px;
	margin: 0;
}
.event-venue {
	font-size: 16px;
}

.event-price {
	width: 10%;
	display: inline-block;
}

.event-price span {
	font-weight: 200;
	text-align: left;
	color: #000;
}

.event-cta {
	width: 20%;
	display: inline-block;
}

.event-cta a.cta-button {
	width: 100%;
	max-width: 200px;
	
	display: block !important;
    text-transform: uppercase;
    text-align: center;
    padding: 0 25px;
    color: #fff !important;
    background: #000;
    line-height: 40px;
    margin: 0 auto;
    transition: all 0.25s ease;
    border: 1px solid #000 !important;
}

.event-cta a.cta-button:hover {
    color: #000 !important;
    background: #fff;
}



.event-cta a:last-child {
	margin-top: 15px;
}

.event-cta p {
	font-size: 16px;
    text-align: center;
    text-transform: uppercase;
}





#event-ticket-display li.expired-event,
#event-ticket-display li.sold-out-event {
	opacity: 0.3;
}
#event-ticket-display li.expired-event a,
#event-ticket-display li.sold-out-event a {
	pointer-events: none;	
}

#event-ticket-display li.sold-out-event .event-cta p,
#event-ticket-display .error-msg {
	color: #ff0000;
}




@media only screen and (min-width : 375px) and (max-width : 736px) and (orientation : portrait) {

	.event-date-container,
	.event-information,
	.event-price,
	.event-cta {
		float: none;
		width: 100%;
	}

	.event-information,
	.event-price {
		margin-top: 15px;
		text-align: center;
	}

	.event-cta {
		margin-top: 15px;
	}

	.event-cta a.cta-button {
		max-width: 100%;
	}
}


@media only screen and (min-width : 375px) and (max-width : 736px) and (orientation : landscape) {

	.event-information {
		vertical-align: middle !important;
		width: 40%;
		padding-left: 20px;
	}

	.event-price {
		width: 20%;
	}

	.event-cta {
		width: 30%;
	}	

}






.wonderplugin3dcarousel-flipy-in,
.wonderplugin3dcarousel-flipy-out,
.wonderplugin3dcarousel-fade-in,
.wonderplugin3dcarousel-fade-out {
	perspective: 1000px;
	-webkit-perspective: 1000px;
	transition: 0.6s;
	-webkit-transition: 0.6s;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}

/* flip y */
.wonderplugin3dcarousel-flipy-in {
	transform: rotateY(-180deg);
	-webkit-transform: rotateY(-180deg);
}

.wonderplugin3dcarousel-item:hover .wonderplugin3dcarousel-flipy-in {
	transform: rotateY(0deg);
	-webkit-transform: rotateY(0deg);
}

.wonderplugin3dcarousel-flipy-out {	
	transform: rotateY(0deg);
	-webkit-transform: rotateY(0deg);
}

.wonderplugin3dcarousel-item:hover .wonderplugin3dcarousel-flipy-out {
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
}

/* fade effect and none effect */
.wonderplugin3dcarousel-fade-in,
.wonderplugin3dcarousel-none-in {
	opacity: 0;
}

.wonderplugin3dcarousel-item:hover .wonderplugin3dcarousel-fade-in,
.wonderplugin3dcarousel-item:hover .wonderplugin3dcarousel-none-in {
	opacity: 1;
}

.wonderplugin3dcarousel-fade-out,
.wonderplugin3dcarousel-none-out {	
	opacity: 1;
}

.wonderplugin3dcarousel-item:hover .wonderplugin3dcarousel-fade-out,
.wonderplugin3dcarousel-item:hover .wonderplugin3dcarousel-none-out {
	opacoty: 0;
}
