/**********************************
* Press page - PDF button
**********************************/
.pdf-button button.vc_general  {
    line-height: 14px;
}




/**********************************
* Get App Links
**********************************/
a.wr1-app-link:hover img {
    opacity: 0.7;
    transition: all 0.25s ease;
}
.single_add_to_cart_button {
    float: initial !important;
}




/**********************************
* Footer Caption
**********************************/
#media_image-2 .wp-caption-text {
    display: none;
}



/**********************************
* Header - Social Icons
**********************************/
.header__top {
    background-color: rgba(0, 0, 0, 0) !important;
}

/* Social Icons - Global */
.home .header__top,
.header__top {
    position: relative;
    z-index: 1;
}

.header__top .jas-social a {
    display: inline-block;
}


/* Social Icons - homepage on load */
.home .header__top .jas-social a {
    color: #ffffff !important;
}

.home .header__top .jas-social a:hover {
    opacity: 0.7;
}




/**********************************
* Home page - bring content under header
**********************************/
.home #jas-content {
    position: relative;
    /*top: -62px;*/
    top: -103px;
}




/**********************************
* Header - homepage on load
**********************************/


/* Header - global styles on load */
.home .header__mid {
    position: relative;
    z-index: 999;
    /*background: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0);
    background-color: rgba(0, 0, 0, 0);*/
}

.home .header__mid .jas-menu > li > a,
.home .header__mid .jas-action a {
    color: #ffffff;
}

.home .header__mid .jas-action .pa a.db {
    color: #000000;
}

.home .header__mid .jas-action .bgb {
    background-color: white !important;
    color: black !important;
}

.home .header__mid .jas-menu li.current-menu-item > a {
    color: #56cfe1;
}

.home .header__mid .jas-menu > li > a:hover,
.home .header__mid .jas-action a:hover,
.home .header__mid .jas-action .pa a.db:hover,
.home .header__mid .jas-menu li.current-menu-item > a {
    color: #56cfe1;
}


/* Logo - homepage on load */
.home .header__mid .jas-branding img {
    opacity: 0;
}

.home .header__mid .jas-branding a {
    background-image: url('../custom_images/affiliate_logo_template_white.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 200px;
    /*height: 34px;*/
    box-sizing: border-box;
}



/**********************************
* Header - homepage when sticky
**********************************/


/* Header - global when sticky */
.home .header-sticky .header__mid .jas-menu > li > a:hover,
.home .header-sticky .header__mid .jas-action a:hover,
.home .header-sticky .header__mid .jas-action .pa a.db:hover,
.home .header-sticky .header__mid .jas-menu li.current-menu-item > a {
    color: #56cfe1;
}

.home .header-sticky .header__mid .jas-menu > li > a,
.home .header-sticky .header__mid .jas-action a,
.home .header-sticky .header__mid .jas-action .pa a.db {
    color: #000000;
}

.home .header-sticky .header__mid .jas-action .bgb {
    background-color: #000000 !important;
    color: #ffffff !important;
}


/* Logo - homepage when sticky */
.home .header-sticky .header__mid .jas-branding a {
    background-image: none;
}

.home .header-sticky .header__mid .jas-branding img {
    opacity: 1;
}




/**********************************
* Mobile header - on page load
**********************************/
.home #custom-mobile-icon {
    background-image: url('../custom_images/hamburger-white.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 16px;
}

/**********************************
* Mobile header - when sticky
**********************************/
.home .header-sticky #custom-mobile-icon {
    background-image: url('../custom_images/hamburger-black.svg');
    background-size: contain;
    background-repeat: no-repeat;
}




/**********************************
* Header - right content
* Claue theme now renders these:
**********************************/
.home .header__mid .jas-menu > li > a:hover,
.home .jas-action a:hover {
    /*color: #56cfe1 !important;*/
}

.home .header__mid .jas-action .pa a.db:hover {}

.db {
    /*z-index: 998;*/
}

.home .header-sticky .header__mid {
    /*background: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 1);*/
}

.home .header-sticky .header__mid .jas-menu > li > a,
.home .header-sticky .jas-action a {
    /*color: initial !important;*/
}

.home .header-sticky .header__mid .jas-menu > li > a:hover,
.home .header-sticky .jas-action a:hover {
    /*color: #56cfe1 !important;*/
}




/****************************************/
/* iPad - Landscape
/****************************************/
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : landscape) {
}




/****************************************/
/* Mobile - Portrait
/****************************************/
@media only screen and (min-width : 300px) and (max-width : 736px) and (orientation : portrait) {
    .header__mid .jas-row,
    .header-sticky .header__mid .jas-row {
        /*padding: 10px;*/
    }
}
