/**handles:custom-css**/
/******************************************
* Instagram Feed Carousel
* Author: Ryan Mahabir
* Date: 2017-20-11
* Icon: Google - https://www.flaticon.com/authors/google
* Icon: Dave Gandy - https://www.flaticon.com/authors/dave-gandy
* Icon: Smashicons - https://www.flaticon.com/authors/smashicons
* Icon: Dave Gandy - https://www.flaticon.com/authors/dave-gandy
******************************************/


/******************************************
* Error check
******************************************/
.alert_error {
	text-transform: uppercase;
	text-align: center;
	color: red;
	font-weight: bold;
}


/******************************************
* Slider arrows
******************************************/
.slick-arrow {
	color: #ffffff;
	opacity: 1 !important;
	border-color: #ffffff;
    background: #000000 !important;
}
.slick-arrow::before {
	color: #ffffff;
}


/******************************************
* CSS styles - Admin Page
******************************************/
.header-admin {

}
.header-admin h2 {
	display: inline-block;
}
.header-admin .icon {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin: 10px;
    	float: left;
	background-image: url('https://clone.wr1.com/wp-content/plugins/instagram-carousel-feed/css/images/menu-icon.svg');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}


/******************************************
* CSS styles - Instagram follow
******************************************/
.instagram-follow {
	display: table;
	position: relative;
    margin: 4em auto 4em auto;
}
.instagram-follow h3 {
	font-size: 24px;
	line-height: 24px;
	text-align: center;
	text-transform: uppercase;
	margin: 0;
}
.instagram-follow a:hover {
	transition: all 0.25s ease;
}

.instagram-follow a:hover {
	opacity: 0.85;
}

.instagram-follow:before {
    left: -75px;
}

.instagram-follow:before, .instagram-follow:after {
    /*content: "";
    position: absolute;
    width: 60px;
    height: 2px;
    background: #222;
    top: 50%;*/
}

.instagram-follow:after {
    /*right: -75px;*/
}

/******************************************
* CSS styles - Carousel
******************************************/
#instagram-feed {
	margin-bottom: auto auto 4em auto;
}

.instagram-post {
	position: relative;
	cursor: pointer;
}
.instagram-post:hover .instagram-media {
	transition: all 0.25s ease;
	/*-webkit-filter: blur(5px);
	filter: blur(5px);*/
}
.instagram-video {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 25px;
	height: 25px;

	background-image: url("https://clone.wr1.com/wp-content/plugins/instagram-carousel-feed/css/images/video-camera.svg");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	opacity: 0.6;
}
.instagram-user-link {
}
.instagram-media {
	width: 100%;
	height: 100%;
	min-width: 280px;
	max-width: 280px;
	min-height: 280px;
    max-height: 280px;
}



/******************************************
* CSS styles - Carousel overlay
******************************************/
.instagram-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
	/*background-color: rgba(255, 255, 255, 0.7);*/
	opacity: 0;
}
.instagram-overlay:hover {
	transition: all 0.5s ease;
	opacity: 1;
}
.instagram-info {
	position: absolute;
	top: 10%;
    left: 10%;
	width: 80%;
	height: 80%;

	font-family: 'Helvetica', Arial, sans-serif;
	font-weight: normal;
	font-size: 1em;
	text-align: center;
	color: #fff;
	
}
.instagram-caption {
	font-style: italic;	
}
.instagram-comments-icon {
	display: inline-block;
	width: 20px;
	height: 16px;
	margin: 5px;
	float: left;

	background-image: url("https://clone.wr1.com/wp-content/plugins/instagram-carousel-feed/css/images/comments.svg");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
    
}
.instagram-comments {
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 0;

	font-family: 'Helvetica', Arial, sans-serif;
	font-weight: bold;
	font-size: 0.8em;
	text-align: center;
	color: #fff;
	line-height: 25px;	
}
.instagram-likes-icon {
	display: inline-block;
	width: 20px;
	height: 15px;
	margin: 5px;
	float: left;

	background-image: url("https://clone.wr1.com/wp-content/plugins/instagram-carousel-feed/css/images/like.svg");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
.instagram-likes {
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 0;
	
	font-family: 'Helvetica', Arial, sans-serif;
	font-weight: bold;
	font-size: 0.8em;
	text-align: center;
	color: #fff;
	line-height: 25px;
}



/****************************************/
/* iPad - Landscape
/****************************************/
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : landscape) {
	.instagram-media {
		width: 100%;
		height: 100%;
		min-height: 171px;
		max-height: 171px;
		min-width: 171px;
		max-width: 171px;
	}
}




/****************************************/
/* iPad - Portrait
/****************************************/
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait) {
	.instagram-media {
		width: 100%;
		height: 100%;
		min-height: 192px;
		max-height: 192px;
		min-width: 192px;
		max-width: 192px;
	}
}


/****************************************/
/* Mobile - Landscape
/****************************************/
@media only screen and (min-width : 375px) and (max-width : 736px) and (orientation : landscape) { 
	.instagram-caption {
		white-space: nowrap;
	  	overflow: hidden;
	  	text-overflow: ellipsis;
	}

	.instagram-media {
		width: 100%;
		height: 100%;
		min-height: 184px;
		max-height: 184px;
		min-width: 184px;
		max-width: 184px;
	}

}

/****************************************/
/* Mobile - Portrait
/****************************************/
@media only screen and (min-width : 300px) and (max-width : 736px) and (orientation : portrait) {

	.instagram-video {
		top: 15px;
		left: 20px;
	}

	.instagram-media {
		width: 100%;
		height: 100%;
		min-height: 414px;
		max-height: 414px;
		min-width: 414px;
		max-width: 414px;
	}
}